<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.artal.rental.ui.cmd.handlers.CopyCustomerName"
            commandId="org.eclipse.ui.edit.copy">
         <activeWhen>
            <reference
                  definitionId="com.artal.rental.ui.cmd.atLeastOneCustomerSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="com.artal.rental.ui.cmd.atLeastOneCustomerSelected">
         <and>
            <iterate>
               <adapt
                     type="com.opcoach.training.rental.Customer">
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.artal.rental.ui.views.RentalAgencyView?after=additions">
         <command
               commandId="org.eclipse.ui.edit.copy"
               style="push">
            <visibleWhen>
               <reference
                     definitionId="com.artal.rental.ui.cmd.atLeastOneCustomerSelected">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
