<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.artal.rental.ui.RentalCategory"
            name="Rental">
      </category>
      <view
            category="com.artal.rental.ui.RentalCategory"
            class="com.artal.rental.ui.views.RentalView"
            id="com.artal.rental.ui.views.RentalView"
            name="Rental Property View"
            restorable="true">
      </view>
   </extension>

</plugin>
