<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.artal.rental.ui.RentalCategory"
            name="Rental">
      </category>
      <view
            category="com.artal.rental.ui.RentalCategory"
            class="com.artal.rental.ui.views.RentalView"
            id="com.artal.rental.ui.views.RentalView"
            name="Rental Property View"
            restorable="true">
      </view>
      <view
            category="com.artal.rental.ui.RentalCategory"
            class="com.artal.rental.ui.views.RentalAgencyView"
            id="com.artal.rental.ui.views.RentalAgencyView"
            name="Rental Agency View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.artal.rental.ui.RentalPerspective"
            id="com.artal.rental.ui.RentalPerspective"
            name="Rental Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.artal.rental.ui.pref.RentalPrefPage"
            id="com.artal.rental.ui.pref.RentalPrefPage"
            name="Rental">
      </page>
      <page
            category="com.artal.rental.ui.pref.RentalPrefPage"
            class="com.artal.rental.ui.pref.RentalColorsPrefPage"
            id="com.artal.rental.ui.pref.RentalColorsPrefPage"
            name="Color">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.artal.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>

</plugin>
