<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Palette" name="Palette" schema="schema/Palette.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.artal.rental.ui.RentalCategory"
            name="Rental">
      </category>
      <view
            category="com.artal.rental.ui.RentalCategory"
            class="com.artal.rental.ui.views.RentalAgencyView"
            id="com.artal.rental.ui.views.RentalAgencyView"
            name="Rental Agency View">
      </view>
      <view
            category="com.artal.rental.ui.RentalCategory"
            class="com.artal.rental.ui.views.CustomerView"
            id="com.artal.rental.ui.views.CustomerView"
            name="Customer View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.artal.rental.ui.RentalPerspective"
            id="com.artal.rental.ui.RentalPerspective"
            name="Rental Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.artal.rental.ui.pref.RentalPrefPage"
            id="com.artal.rental.ui.pref.RentalPrefPage"
            name="Rental">
      </page>
      <page
            category="com.artal.rental.ui.pref.RentalPrefPage"
            class="com.artal.rental.ui.pref.RentalPalettePrefsPage"
            id="com.artal.rental.ui.pref.RentalPalettePrefsPage"
            name="Palettes">
      </page>
      <page
            category="com.artal.rental.ui.pref.RentalPalettePrefsPage"
            class="com.artal.rental.ui.pref.RentalColorsPrefPage"
            id="com.artal.rental.ui.pref.RentalColorsPrefPage"
            name="DefaultColor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.artal.rental.ui.pref.RentalPrefInit">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.artal.rental.ui.cmd.HelloWorld"
            commandId="com.artal.rental.ui.cmd.HelloWorld">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            commandId="com.artal.rental.ui.cmd.HelloWorld"
            id="com.artal.rental.ui.cmd.HelloWorld"
            label="Hello World"
            name="Hello World"
            style="push">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Hello World">
            <command
                  commandId="com.artal.rental.ui.cmd.HelloWorld"
                  label="Hello World"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.views.ResourceNavigator?after=additions">
         <menu
               label="Hello World">
            <command
                  commandId="com.artal.rental.ui.cmd.HelloWorld"
                  label="Hello World"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.artal.rental.ui.views.RentalAgencyView?after=additions">
         <menu
               id="com.artal.ui.views.RentalAgencyViewPopupMenu"
               label="Hello World">
            <command
                  commandId="com.artal.rental.ui.cmd.HelloWorld"
                  label="Hello World"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="com.artal.rental.ui.Palette">
      <palette
            id="com.artal.rental.ui.palette.DefaultPalette"
            name="DefaultPalette"
            paletteClass="com.artal.rental.ui.palette.DefaultPalette">
      </palette>
      <palette
            id="com.artal.rental.ui.UglyPalette"
            name="UglyPalette"
            paletteClass="com.artal.rental.ui.palette.UglyPalette">
      </palette>
   </extension>

</plugin>
